.footer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 8rem;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  & > p {
    margin: 0;
  }
}

.socialLink {
  color: gold;
  &:hover {
    color: darkgoldenrod;
  }
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 850px) {
  .footer {
    flex-direction: column;
    height: fit-content;
  }
}
