.homePage {
  margin: 5% 20%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  container-type: inline-size;
}

.footer {
  margin-top: 4rem;
  background-color: slategray;
  padding: 2rem 4rem;
}
