.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  height: fit-content;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 4rem;
  margin-right: 4rem;
}
