.navLink {
  height: 4rem;
  display: block;
  text-align: center;
  line-height: 4rem;
  padding: 1rem 2rem;
  cursor: pointer;

  text-decoration: none;
  background-color: grey;
  color: black;

  &:hover {
    background-color: darkgrey;
    color: white;
  }
}
