.blogPage {
  padding: 3rem;
}

.blogSection {
  font-size: 1.2rem;
  line-height: 1.5;
  padding-top: 1px;
}

.blogHeading {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 1rem 0;
}

.blogList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blogListItem {
  margin: 0 0 1.25rem;

  & > div {
    font-weight: normal;
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;
  }

  & > small {
    color: lightgray;
    font-weight: normal;
  }
}
