.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h3 {
    font-size: xx-large;
    padding-bottom: 3rem;
  }
}

.headshot {
  width: 70%;
  justify-self: center;
  height: fit-content;
}

.copyText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
